@model MvcMovies.Models.Movie

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Delete Confirmation for: </h3>
<strong>@Model.Title</strong>

@*Codigo original para ver la infromacion del producto a ser eliminado antes *@

@*<fieldset>
    <legend>Movie</legend>

    <div class="display-label">Genre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre.Name)
    </div>

    <div class="display-label">Actor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Actor.Name)
    </div>

    <div class="display-label">Price</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">MovieArtUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MovieArtUrl)
    </div>

    <div class="display-label">Title</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>*@
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
